
*{
    margin: 0;
    padding: 0;
}
.wrapperBox{
    width: 100%;
    height: 100%;
    background-color:#fff ;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
 
.headerTitle{
    background-color: #A3D0C3;
    color:#fff;
    font-size: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
}
.headerButton{
    width: 205px;
    height: 40px;
    line-height: 40px;
}
.container{
    width: 1200px;
    height: 455px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    
}
.footer{
    width: 1200px;
    height: 79px;
    margin: 0 auto;
}
/*.pageInformation{*/
/*    width: 226px;*/
/*    height: 79px;*/
/*    background-color: blue;*/
/*    float: left;*/
/*}*/
/**/
.pageButton{
    width: 190px;
    height: 79px;
    line-height: 79px;
    float: right;
 
}
.addButton{
    width: 93px;
    height: 38px;
    background-color: #008aad;
    border: none;
    color: #fff;
    cursor: pointer;
    display:inline;
}
.deleteButton{
    width: 93px;
    height: 38px;
    background-color: #008aad;
    border: none;
    color: #fff;
    margin-left: 14px;
    cursor: pointer;
    display:inline;
    
}

.searchGroup {
    background: #7BA7AB;
}

        .searchGroup input {
            margin: 10px;

            border: 2px solid #649094;

            border-radius: 5px;

            background: #F9F0DA;

            color: #9E9C9C;
            height: 15px;
            padding-top: 15px;
            text-align: center;
            padding-left: 10px;
            padding-bottom: 10px;
    
            
        }

        .searchGroup button {

            top: 0;

            right: 0;

            background: #649094;

            border-radius: 5px 5px 5px 5px;

        }

        .searchGroup button:before {

            font-size: 16px;

            color: #F9F0DA;

        }
        .searchButton_ok{
            width:60px;
            height:30px;
            border: #649094;
        }
        .searchButton_ok i{
            color:#fff;
        }
#prePageButton{
    width: 88px;
    height: 38px;
    background-color: #A3D0C3;
    border: none;
    color: #fff;
    cursor: pointer;
}
#nextPageButton{
    width: 88px;
    height: 38px;
    background-color: #A3D0C3;
    border: none;
    margin-left: 9px;
    color: #fff;
    cursor: pointer;
}
.viewInf ,.updateInf{
    color: #008aad;
    cursor: pointer;
}
.updateInf{
    margin-left: 9px;
}
.container table{
    border-collapse: collapse;
    width: 100%;
}
.container td{
    height: 40px;
}
.tableHeaher{
    height: 55px;
    background-color: #dadee1;
}
tr.trHover:hover{
    background-color: #008aad;
}
 
 
 
 
/*headerStyle */
/* .headerLine{width: 1200px;color: #999999;text-align: center;font-size: 24px;}
.headerLine:before,.headerLine:after{content: "";width: 406px;border-top: 4px #c3a080 solid; display: inline-block;
    vertical-align: middle;}
.headerLine:before{margin-right: 98px;}
.headerLine:after{margin-left: 98px;} */
/*end    */
 
 
/*cintainerStyle  */
i{font-style: normal;}
td{
    height: 40px;
}
 
 
#addmodal{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    display: none;
}
#viewmodal{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    display: none;
}
#movemodal{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    display: none;
}
.modal-dialog{
    top:20%;
    position: relative;
    width: 500px;
    margin: 0px auto;
    background: white;
    border-radius: 5px;
}
.modal-header {
    border-bottom: 1px solid #A3D0C3;
 
    color: #fff;
 
    background-color: #A3D0C3;
 
    height: 40px;
 
    line-height: 40px;
 
    padding-left: 20px;
    font-size: 20px;
}
.modal-header>i{
    font-weight: bold;
    color: #fff;
    float: right;
    cursor: pointer;
    background-color: #7BA7AB;
    height: 40px;
    width:40px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: #aeaeae 1px 2px;
}
.modal-body {
    position: relative;
    text-align: center;
    font-size: 15px;
    color: #808080;
}
.modal-body input{
    width: 250px;
    height: 30px;
    border: 1px solid #a9a9a9;
    outline: none;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    border-color: #808080;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.addButton_ok{
    width: 93px;
    height: 38px;
    border-radius: 4px;
    background: #A3D0C3;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    box-shadow: #aeaeae 2px 2px;
}
.addButton_no{
    width: 93px;
    height: 38px;
    border-radius: 4px;
    background: #A3D0C3;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    box-shadow: #aeaeae 2px 2px;
    
}
.pageInformation{
    width: 600px;
    height: 16px;
    padding-top: 29px;
    font-size: 15px;
    line-height: 16px;
    float: left;
}
 
.updatabtn_ok{
    width: 93px;
    height: 38px;
    border-radius: 4px;
    background: #A3D0C3;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    box-shadow: #aeaeae 2px 2px;
}
.updatabtn_no{
    width: 93px;
    height: 38px;
    border-radius: 4px;
    background: #A3D0C3;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    box-shadow: #aeaeae 2px 2px;
}

.searchGrade{
    width: 300px;
    height: 100px;
    display: inline;
}

.searchGrade p{
    display: inline;
    margin-right: 10px;
    float:left;
}




#background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#div1 {
    background:#eeeeee;
    width: 70%;
    z-index: 1;
    margin: 12% auto;
    overflow: auto;
}
span {
    color: white;
    padding-top: 12px;
    cursor: pointer;
    padding-right: 15px;
}
#div2 {
    background:#eeeeee;
    margin: auto;
    height: 300px;
    padding: 0 20px;
}
#close {
    padding: 5px;
    background: #A3D0C3;
}
#close-button {
    float: right;
    font-size: 30px;
}
#foot {
    padding: 5px 0;
    text-align: center;
    background: #A3D0C3;
    color: white;
}
h2 {
    margin: 10px 0;
    color: white;
    padding-left: 15px;
}
h3 {
    margin: 0 0px;
    padding-top: 15px;
}

